<template>
  <div class="d-flex align-items-center vh-100 currency-converter">
    <div v-if="!loading" class="container currency-converter__container">
      <CloseButton
        v-if="historyCount"
        @click="toggleHistory"
        :close="showHistory"
      >
        {{ historyCount }}
      </CloseButton>
      <template v-if="showHistory">
        <History :history="history" />
      </template>
      <div v-show="!showHistory">
        <Form @calculate="handleCalculate" :currencies="currencies" />
      </div>
    </div>
  </div>
</template>

<script>
import { getLatestCurrencies } from "~/api/currency";

import History from "~/components/organisms/History";
import Form from "~/components/organisms/Form";
import CloseButton from "~/components/molecules/CloseButton";

export default {
  name: "Converter",
  components: {
    CloseButton,
    Form,
    History
  },
  computed: {
    history() {
      return this.$store.getters.history;
    },
    historyCount() {
      return this.history.length;
    }
  },
  data() {
    return {
      currencies: {},
      loading: true,
      showHistory: false
    };
  },
  async mounted() {
    await this.setCurrencies();
  },
  methods: {
    async setCurrencies() {
      const currencies = await getLatestCurrencies();

      this.$set(this, "currencies", currencies.rates);
      this.$set(this, "loading", false);
    },
    handleCalculate(calculation) {
      this.$store.dispatch("addHistory", calculation);
    },
    toggleHistory() {
      this.$set(this, "showHistory", !this.showHistory);
    }
  }
};
</script>

<style lang="scss">
.currency-converter {
  .currency-converter__container {
    max-width: 768px;
  }
}
</style>
