<template>
  <button
    @click="$emit('click')"
    type="button"
    :class="`btn btn-secondary btn-lg ${className}`"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "Input",
  props: {
    click: { type: Function, default: () => {} },
    className: { type: String, default: "" }
  }
};
</script>
