<template>
  <input
    v-model="data"
    @input="handleInput"
    :class="`form-control form-control-lg ${className}`"
  />
</template>

<script>
export default {
  name: "Input",
  props: {
    value: [String, Number],
    className: String
  },
  data() {
    return {
      data: this.value
    };
  },
  watch: {
    value(value) {
      this.$set(this, "data", value);
    }
  },
  methods: {
    handleInput() {
      this.$emit("input", this.data);
    }
  }
};
</script>

<style lang="scss" scoped>
.form-control {
  color: #fff;
  background: transparent;
  border: 0;
  &:hover,
  &:focus {
    color: #fff;
    box-shadow: unset;
    background: transparent;
  }
}
</style>
