<template>
  <div :class="`select ${className}`">
    <div class="d-flex align-items-center">
      <div v-if="label" class="select__label pr-2">
        {{ label }}
      </div>
      <div class="select__value">
        {{ data }}
      </div>
    </div>
    <select v-model="data" @change="handleChange">
      <template v-for="option in options">
        <option :key="option.value" :value="option.value">
          {{ option.label }}
        </option>
      </template>
    </select>
    <span></span>
    <ChevronDown className="select__apperance" />
  </div>
</template>

<script>
import ChevronDown from "~/components/icons/ChevronDown";

export default {
  name: "Select",
  components: {
    ChevronDown
  },
  props: {
    label: String,
    value: String,
    options: Array,
    className: String
  },
  data() {
    return {
      data: this.value
    };
  },
  watch: {
    value(value) {
      this.$set(this, "data", value);
    }
  },
  methods: {
    handleChange() {
      this.$emit("input", this.data);
    }
  }
};
</script>

<style lang="scss">
.select {
  position: relative;
  border-bottom: 2px solid #fff;
  .select__apperance,
  span {
    pointer-events: none;
  }
  span {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 2px;
    background: #e70385;
    transition: 200ms ease-in-out;
  }
  .select__value,
  .select__label {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .select__label {
    font-size: 1rem;
  }
  .select__apperance {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    &:hover,
    &:focus {
      color: #fff;
      box-shadow: unset;
      background: transparent;
      & + span {
        width: 100%;
      }
    }
  }
}
</style>
