<template>
  <Button
    className="close-button d-flex align-items-center justify-content-center p-0"
    @click="$emit('click')"
  >
    <template v-if="close">
      <Close width="1.5em" height="1.5em" />
    </template>
    <template v-else>
      <slot></slot>
    </template>
  </Button>
</template>

<script>
import Button from "~/components/atoms/Button";
import Close from "~/components/icons/Close";

export default {
  name: "CloseButton",
  props: {
    close: Boolean
  },
  components: {
    Button,
    Close
  }
};
</script>

<style lang="scss">
button.close-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 0;
  background: rgba(255, 255, 255, 1);
  color: #3e51b4;
  border: 0;
  font-size: 2em;
  &:focus,
  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #3e51b4;
  }
}
</style>
