<template>
  <div
    :class="
      `history__item d-flex flex-column flex-lg-row align-items-start align-items-lg-end justify-content-lg-between mb-3 pb-3 ${
        show ? 'history__item--show' : 'history__item--hidden'
      }`
    "
  >
    <div class="history__date pl-2 pr-1">
      Date: {{ item.date | dateFormat }}
    </div>
    <div class="d-flex">
      <div class="history__label pl-2 pr-1">
        From:
      </div>
      <div class="history__value pr-2">
        <strong>{{ item.from.price }} {{ item.from.currency }}</strong>
      </div>
      <div class="px-2">
        =
      </div>
      <div class="history__label pl-2 pr-1">
        To:
      </div>
      <div class="history__value pr-2">
        <strong>{{ item.to.price }} {{ item.to.currency }}</strong>
      </div>
    </div>
  </div>
</template>

<script>
import date from "~/mixins/date";

export default {
  name: "HistoryItem",
  props: {
    item: Object,
    duration: Number
  },
  mixins: [date],
  data() {
    return {
      show: false
    };
  },
  mounted() {
    this.setShow();
  },
  methods: {
    setShow() {
      const { duration } = this;

      setTimeout(() => {
        this.$set(this, "show", true);
      }, duration);
    }
  }
};
</script>

<style lang="scss">
.history__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.5em;
  transition: 800ms linear;
  font-size: 1.5em;
  .history__date {
    font-size: 0.8em;
  }
  &.history__item--hidden {
    opacity: 0;
  }
  &.history__item--show {
    opacity: 1;
  }
  @media (max-width: 768px) {
    font-size: 1em;
  }
  @media (max-width: 320px) {
    font-size: 0.8em;
  }
}
</style>
