<template>
  <div class="form p-md-4">
    <div class="row align-items-stretch">
      <div class="col-md-5">
        <div class="row">
          <div class="col-6 col-md-12">
            <Select
              label="FROM:"
              v-model="from.currency"
              className="px-0"
              :options="from.options"
            />
          </div>
          <div class="col-6 d-block d-md-none">
            <Select
              label="TO:"
              v-model="to.currency"
              className="px-0"
              :options="to.options"
            />
          </div>
        </div>
        <div class="form__item d-flex align-items-center mt-md-4">
          <div class="form__currency">
            {{ from.currency }}
          </div>
          <div class="ml-4">
            <Input v-model="from.price" className="form__input p-0" />
          </div>
        </div>
      </div>
      <div class="col-md-2 my-4 my-md-0">
        <div class="d-flex justify-content-center align-items-center h-100">
          <Button
            className="form__button d-flex align-items-center justify-content-center p-0"
            @click="handleClickCalculate"
          >
            <span class="d-none d-md-block">
              <ChevronRight />
            </span>
            <span class="d-md-none">
              <ChevronDown />
            </span>
          </Button>
        </div>
      </div>
      <div class="col-md-5">
        <Select
          label="TO:"
          v-model="to.currency"
          className="d-none d-md-block px-0"
          :options="to.options"
        />
        <div
          class="d-flex align-items-center justify-content-center justify-content-md-start mt-md-4"
        >
          <div class="form__currency">
            {{ to.currency }}
          </div>
          <div class="ml-4 form__result">
            {{ to.price }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "~/components/atoms/Button";
import Input from "~/components/atoms/Input";
import Select from "~/components/atoms/Select";
import ChevronRight from "~/components/icons/ChevronRight";
import ChevronDown from "~/components/icons/ChevronDown";

export default {
  name: "Form",
  components: {
    Button,
    ChevronRight,
    ChevronDown,
    Input,
    Select
  },
  props: {
    currencies: { type: Object, default: () => ({}) }
  },
  data() {
    return {
      from: {
        currency: "EUR",
        options: [],
        price: 1
      },
      to: {
        currency: "TRY",
        options: [],
        price: 0
      }
    };
  },
  watch: {
    "from.currency": {
      handler() {
        this.setOptions();
        this.setResult();
      }
    },
    "to.currency": {
      handler() {
        this.setOptions();
        this.setResult();
      }
    }
  },
  mounted() {
    this.setOptions();
  },
  methods: {
    setOptions() {
      const { from, to } = this;
      const options = {
        from: [],
        to: []
      };

      for (const currency in this.currencies) {
        const option = {
          value: currency,
          label: currency
        };

        if (currency !== to.currency) {
          options.from.push(option);
        }

        if (currency !== from.currency) {
          options.to.push(option);
        }
      }

      this.$set(this.from, "options", options.from);
      this.$set(this.to, "options", options.to);
    },
    getRate(selectedCurrency) {
      const { currencies } = this;
      let rate = 0;

      for (const currency in currencies) {
        if (currency === selectedCurrency) {
          rate = currencies[currency];
        }
      }
      return rate;
    },
    setResult(price = 0) {
      this.$set(this.to, "price", price);
    },
    calculate({ price, from, to }) {
      const toRate = this.getRate(to);
      const fromRate = this.getRate(from);
      const result = (toRate / fromRate) * price;

      return result.toFixed(2);
    },
    handleClickCalculate() {
      const { from, to } = this;

      const price = this.calculate({
        price: from.price,
        from: from.currency,
        to: to.currency
      });

      this.setResult(price);
      this.calculateTrigger();
    },
    calculateTrigger() {
      const from = { ...this.from };
      const to = { ...this.to };

      delete from.options;
      delete to.options;

      this.$emit("calculate", { from, to });
    }
  }
};
</script>

<style lang="scss">
.form {
  .form__result,
  .form__currency {
    font-size: 3em;
  }
  .form__input {
    font-size: 3em;
    height: 67px;
  }
  .form__button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    background: #e70385;
    color: #fff;
    &:focus,
    &:hover {
      background: #fff;
      color: #e70385;
    }
  }
  @media (max-width: 768px) {
    .form__item {
      border-bottom: 2px solid #fff;
    }
  }
}
</style>
