<template>
  <div class="history">
    <template v-for="(item, key) in list">
      <HistoryItem :key="key" :item="item" :duration="key * duration" />
    </template>
  </div>
</template>

<script>
import HistoryItem from "~/components/molecules/HistoryItem";

export default {
  name: "History",
  components: {
    HistoryItem
  },
  props: {
    history: {
      type: Array,
      default: () => []
    }
  },
  data() {
    const history = [...this.history];

    return {
      duration: 100,
      list: history.reverse()
    };
  }
};
</script>

<style lang="scss">
.history {
  max-height: 75vh;
  overflow: auto;
}
</style>
