<template>
  <svg
    :class="`bi bi-chevron-right ${className}`"
    :width="width"
    :height="height"
    viewBox="0 0 20 20"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
      clip-rule="evenodd"
    ></path>
  </svg>
</template>

<script>
export default {
  name: "ChevronRight",
  props: {
    width: { type: String, default: "1em" },
    height: { type: String, default: "1em" },
    className: String
  }
};
</script>
