<template>
  <svg
    :class="`bi bi-chevron-down ${className}`"
    :width="width"
    :height="height"
    viewBox="0 0 20 20"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M3.646 6.646a.5.5 0 01.708 0L10 12.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
      clip-rule="evenodd"
    ></path>
  </svg>
</template>

<script>
export default {
  name: "ChevronDown",
  props: {
    width: { type: String, default: "1em" },
    height: { type: String, default: "1em" },
    className: String
  }
};
</script>
