<template>
  <svg
    :class="`bi bi-x ${className}`"
    :width="width"
    :height="height"
    viewBox="0 0 20 20"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z"
      clip-rule="evenodd"
    ></path>
    <path
      fill-rule="evenodd"
      d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
      clip-rule="evenodd"
    ></path>
  </svg>
</template>

<script>
export default {
  name: "Select",
  props: {
    width: { type: String, default: "1em" },
    height: { type: String, default: "1em" },
    className: String
  }
};
</script>
