<template>
  <div id="app">
    <Converter />
  </div>
</template>

<script>
import Converter from "~/components/templates/Converter";

/* Bootstrap 4.4.1 */
import "~/assets/css/bootstrap.min.css";

export default {
  name: "app",
  components: {
    Converter
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

* {
  outline: 0;
}

::-moz-selection,
::selection {
  background: rgba(231, 3, 133, 0.5);
}

body {
  font-family: "Open Sans", arial;
  font-size: 15px;
  color: #fff;
  background: rgb(231, 3, 133);
  background: linear-gradient(
    27deg,
    rgba(125, 3, 231, 1) 0%,
    rgba(63, 81, 181, 1) 70%
  );
}
</style>
